h3{
    font-size: 0.95rem;
}

.heading{
    display:flex;
 background-color: #dddddd;
position: fixed;
width:100%;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.topop{
   text-decoration: underline;
   margin-left: 2px;
}

.popup{
    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
       justify-content: center;
    width: 800px;
    height:500px;
 
    
}

.img1{
    position: absolute;
    		    left: 0px;
    		    right: 0px;
    		    object-fit: cover;
    		  margin-left:20px;
    		    height: 100% !important;
    	    width: 80% !important;
}
.img2{
    width: 272px;
    height: 23px;

}

.popup1{
    position: relative !important;
    flex: var(--mls-part-weight, 1) 0 0 !important;
    max-width: var(--mls-part-max-width, none) !important;
    min-height: var(--mls-part-min-height, auto) !important;
    display: grid !important;
    grid-template-columns: minmax(0px, 1fr) !important;
    grid-template-rows: minmax(0px, 1fr) !important;
   
}
.img4{
height:100px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    right: 0;
    background-color: #fff;
}

.crossicon{
    width: 32px;
    height: 30px;
    
}
.popupcontent{

    text-align: center;
}

.popupprice{
    font-size: 3.25rem;
    font-weight: bold;
}
.later{
    text-decoration: underline;
}

.roundicon{
   
    border-radius: 50%;

    background-color: white;
}
.search{
        display: flex;
		    justify-content: space-evenly;	
		    border: 1px solid grey;
		    width: 500px;
	    height: 50px;
        border-radius: 40px;
        padding-top: 10px;
      
}
.search2{
    display: flex;
        justify-content: space-evenly;	
        border: 1px solid grey;
        width: 850px;
        height: 80px;
    border-radius: 40px;
    padding-top: 10px;
  
}


.search-icon{
    display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: red;
  color: white;
}
.search-icon2{
    display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 40px;
  width: 100px;
  height:30px;
  background-color: red;
  color: white;
}

.login{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}

hr{
    margin:0px;
}
.box:hover{
    background-color: #EEEEEE;
    border-radius: 40px;

}

.userlogin{
    border: 1px solid grey;
    border-radius: 20px;
    height: 30px;
    width: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.details{
    display:flex;
    justify-content:space-around;
    width:400px;
    margin-left: 200px;
}
.inputdesign{
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}

.custom-calendar .p-inputtext {
    height: 30px;
    width:100px !important;
}

.mapimage{
    width:100px;
    height:100px;
    border-radius: 10px;
    display:flex;
    justify-content: space-evenly;
}

.secrow{
    margin-top:50px;
}

.guestcontain{
    width:400px;
    
}
.guestcontain1{
    display: flex;
    justify-content: space-between;
    height:75px;
}
.guestcontain2{
margin-top: 15px;
padding-inline: 10px;
}
.age{
    color:grey;
    font-size: 0.75rem;
}
 .filterimg{
    width: 24px;
    height: 24px;
 }
.filtername{
    font-size:0.75rem;
}



.filter-carousel {
    overflow: hidden;
    position: relative;

  }

  .filter-carousel .p-carousel-prev, .filter-carousel .p-carousel-next {
    top: 50%;
    transform: translateY(-50%);
  }

  .filter-carousel .p-carousel-prev {
    left: 0;
  }

  .filter-carousel .p-carousel-next {
    right: 0;
  }

  .filterdiv{
    margin-top: 50px;
    width:100% ;
     display:flex ;
     padding-top:15px;
     background-color: #fff;
  }
.mainFilter{
    display:flex;
    margin-top:15px;
    border: 1px solid grey;
    border-radius: 10px;
    width:90px;
    height: 40px;
    justify-content: space-around;
    padding-top: 8px;
}

.dialog .p-dialog .p-dialog-title .p-dialog-header{
    text-align: center !important;
    font-style: normal;
}

.minmax{
    display:flex;
    justify-content: space-between;
}
.minmax1{
    border:1px solid gray;
    border-radius: 10px;
    width:300px;
    padding-left:10px
}
.PriceRange{
    height:150px;
    margin-top:20px;
}
.placesfilter{
    display:grid;
    grid-template-columns: 300px 300px;
    height:250px;
    margin-top: 20px;
}
.checkboxalign{
    width:40px;
    height:20px;
}
.filtertitle .p-dialog .p-dialog-content .p-component{
    color:black !important;
    font-size: 1.25rem;
}

.placedesc{
    font-size: 0.75rem;
}
.filterheading{
    margin-top: 10px;
}

.footerspace{
    display:flex;
    justify-content:space-between;
  
}

.buttondesign{
border: 1px solid grey;
border-radius: 20px;
height:30px;
width:50px;
background-color: none;

}

.rooms{
    margin:20px auto;
}
.propetytypediv{

    width:100px;
    height:100px;
}
.buttondecors{
    display: inline-block !important;	
    cursor: pointer !important;		
    text-align: center !important;	
    background-color: var(--f-mkcy-f) !important;		
   	font-family: var(--e-ls-qkw) !important;		
    position: relative !important;		
    transition-property: -ms-transform, -webkit-transform, transform, background-color, border-color !important;	
     transition-duration: 0.15s !important;	
     transition-timing-function: ease-in-out !important;	
      border-radius: 16px !important;		
    font-size: 12px !important;		  
    line-height: 16px !important;		   
    height: 100% !important;		
    width: 100% !important;
    border-radius: 20px;
}
.amenty{
display:grid;
grid-template-columns: 300px 300px;
margin:20px auto;
}

.sliding-button {
    display: inline-block;
    width: 50px;
    height: 25px;
    border-radius: 35px;
    background-color: grey;
    position: relative;
    cursor: pointer;
    
  }
  
  .slider {
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
  }
  
  .slider.checked {
    transform: translateX(25px);
  }

  .tick-mark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .Bookopt{
    display: flex;
    justify-content: space-between;
    margin:20px auto;
  }
  .bookoptdesc{
    font-size: .75rem;
    font-weight: lighter;
  }

  .stayimg{
    height: 300px;
    width: 300px;

    border-radius: 20px;
  }

  .imgdirect{
   
 height:400px;
 width:300px;

  }
  .mainimgdirect{
    display: grid;
grid-template-columns: 300px 300px 300px 300px;
justify-content: space-around;
    margin: 20px;
  
  }
  /* #pr_id_2_content.p-dialog-content {
    display: flex;
} */
body{        
    margin-top: 100px;
  margin-bottom: 60px;
}

@media only screen and (max-width: 1200px) and (min-width: 800px) {
    .mainimgdirect{
        display: grid;
    grid-template-columns: 300px 300px 300px ;
    justify-content: space-around;
    }
    .col0{
        display: flex;
        width:600px;
    }
    .filterdiv{
        margin-top: 150px;}
}
@media only screen and (max-width: 800px)  {
    .mainimgdirect{
        display: grid;
    grid-template-columns: 300px 300px  ;
    }
    .filterdiv{
        margin-top: 150px;}
    .col0{
        display: flex;
        width:400px;
    }
}

.footer{
    position:fixed;
    background-color: #fff;
    bottom:0;
    width:100%;
}
.col0{
    display: flex;
    width:1200px;
}
.btn-lg{
    height: 50px;
    border-radius: 20px;
}